:root {
  /* Couleurs */
  --lilac: #9776FF;
  --fluo_green: #DBF227;
  --light-green: #FCFFE5;
  --blue: #300AA5;
  --dark_blue: #180553;

  /* Typographie */
  --ff: 'Raleway', sans-serif;

  --fs_h1: 3rem;
  --fs_h2: 2.25rem;
  --fs_h3: 1.5rem;

  /* Espacements */
  --sp_xs: 0.625rem;
  /*  10px */
  --sp_sm: 1.25rem;
  /*  20px */
  --sp_md: 2.5rem;
  /*  40px */
  --sp_lg: 5rem;
  /*  80px */
  --sp_xl: 10rem;
  /* 160px */
  --sp_xxl: 15rem;
  /* 240px */

  /* Formats responsive*/
  --desktop: 1200px;
  --tablette: 700px;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--ff);
}

body {
  background-color: whitesmoke;
  background: no-repeat url(/public/Vector10.svg);
  background-position: -50% 105%;
}

main {
  width: 98%;
  margin: auto;
}

/* HEADER ***********************************************************/

header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--sp_sm);
}

header.Persona{
  background-color: var(--dark_blue);
}

a > .logo {
  width: 65%;
}

nav{
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a > img {
  width: 80%;
}

/* HERO ************************************************************/

.picto {
  width: 50px;
  padding: 1% 0 0 5%;
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0 15%; */
  position: absolute;
  top: 10%;
  left: 5%;
}

.bonhomme1 {
  width: 30%;
  height: 90vh;
  background: no-repeat url(/public/Group28.svg);
  background-position: 75% 105%;
  position: absolute;
  right: 20%;
}

h1 {
  font-size: var(--fs_h1);
}

p {
  font-size: var(--sp_sm);
}

h1,
p {
  padding-bottom: var(--sp_sm);
}

.cta {
  width: var(--sp_xxl);
  font-size: var(--sp_sm);
  background-color: var(--lilac);
  padding: 2% 5%;
  color: var(--light-green);
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  border: solid var(--lilac);
  display: block;
}

.cta:hover {
  background-color: transparent;
  color: black;
  transition: ease 0.5s;
}

/* FORMULAIRE ****************************************************/

.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 400px; */
}

.formFond {
  background: no-repeat url(/public/Group33.png);
  background-position: 100%;
  background-size: contain;
}

.bonhomme2 {
  width: 35%;
  height: 100vh;
  background: no-repeat url(/public/Group26.png);
  background-position: 5%;
  position: absolute;
  top: 110%;
  background-size: contain;
}

.bonhomme3 {
  width: 30%;
  height: 100vh;
  background: no-repeat url(/public/Group20.png);
  background-position: 5%;
  position: absolute;
  top: 220%;
  right: 0%;
  background-size: contain;
}


.Question {
  height: 70vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid black; */
}

.Question>div {
  display: flex;
  align-items: center;
}

.Question:last-child {
  height: 10vh;
}

.Titre {
  display: flex;
}

input,
select {
  /* height: 3em; */
  border: 1px solid;
  border-color: #9776FF;
  border-radius: 5px;
  /* background: rgba(0, 0, 0, 0.0); */
  width: 20vw;
  height: 5vh;
}

input.radio{
  height: 2vh;
}

.age,
.ville,
.domaine,
.activite {
  font-size: larger;
  font-weight: 600;
}

.genre p {
  font-size: larger;
  font-weight: 600;
}

.Question:nth-child(1) {
  background: no-repeat url(/public/Group26.png);
  /* background-position: 100%; */
}

.age,
.genre,
.ville,
.domaine,
.activite {
  display: flex;
  flex-direction: column;
}

.suivant {
  padding: 1% 3%;
}

/* FORMULAIRE 2 ****************************************************/

datalist {
  display: flex;
  color: var(--lilac);
  justify-content: space-between;
}

.personalite {
  /* display: flex;
  flex-direction: row; */
  font-size: larger;
  font-weight: 600;
}

.interets,
.outils {
  display: flex;
  flex-direction: column;
  font-size: larger;
  font-weight: 600;
}

/* 
.espace{
display: flex;
justify-content: space-between;
} */

.nom_categorie {
  display: flex;
  justify-content: center;
}

input[type=range] {
  -webkit-appearance: none;
  border: none;
}

input[type=range].custom-slider {
  -webkit-appearance: none;
  /*nécessaire pour Chrome */
  padding: 0;
  /* nécessaire pour IE */
  font: inherit;
  /* même rendu suivant font document */
  outline: none;
  color: #069;
  /* sert pour couleur de référence, via currentColor, pour le curseur */
  opacity: .8;
  background: #CCC;
  /* sert pour couleur de fond de la zone de déplacement */
  box-sizing: border-box;
  /* même modèle de boîte pour tous */
  transition: opacity .2s;
  cursor: pointer;
}

input[type=range].custom-slider.custom-slider-bullet {
  height: 1.5em;
  color: transparent;
  background: transparent;
  background-image: linear-gradient(to bottom, #180553, #180553, #180553);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 25%;
}

/* input[type=range].custom-slider.custom-slider-bullet::-webkit-slider-thumb {
  width: 2em;
  background-color: #180553;
  height: 10px;
} */

input[type=range].custom-slider.custom-slider-bullet::-webkit-slider-thumb {
  width: 2em;
  padding: 0.25em;
  /* largeur du bord */
  border: 1px solid #888;
  border-radius: 50%;
  box-shadow: 0 0 .5em #FFF inset;
  background: linear-gradient(#888, #FFF) content-box,
    /* le centre */
    linear-gradient(-90deg, #888, #DDD) border-box;
  /* le bord */
}


/* FORMULAIRE_FINI ****************************************************/

.Formulaire_fini {
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: O 15%;
  background: no-repeat url(/public/Group19.svg);
  background-position: 10% 105%;
}

.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10% 15%;

}

.texte {
  text-align: center;
}

.lien {
  font-size: 1.2em;
  padding: 4%;
}

.ponctuation,
.lien {
  color: #9776FF;
}

.dashboard {
  padding: 2% 3%;
}

/* Dashboard ****************************************************/

.chart-box-main>div {
    width: 100%;
    height: 100%;
    background: #9776FF;
    border-radius: 19px;
}

.stocks-status { position: absolute; right: 12px; top: 23px; font-size: 14px; }
.stocks-number { font-size: 23px; }
.stocks-titles { margin-top: 3px; margin-right: 17px; }
.stocks-main { background: linear-gradient(270deg, rgba(255, 255, 255, 0.28), rgb(42, 46, 50) 52%); padding: 1px; border-radius: 18px; margin-top: 17px; width: 380px; animation-name: Stocks; }
.sub-stocks { display: flex; background: rgb(42, 46, 50); border-radius: 18px; padding: 16px; color: white; position: relative; }
.stocks { width: 1000px; margin-left: 106px; }
.box-travel { width: 100%; }
.sub-stocks > img { width: 30px; height: 30px; margin-right: 13px; }
.up-trans { color: rgb(0, 150, 108) !important; }
.info-trans-sub > div { font-size: 13px; color: rgb(122, 122, 122); }
.money-time-trans-sub > div { font-size: 12px; color: rgb(122, 122, 122); text-align: center; }
.money-time-trans-sub { color: white; position: absolute; right: 13px; margin-top: 5px; }
.info-trans-sub { color: white; margin-top: 5px; }
.money-time-trans-sub > h5 { margin: 0px; text-align: center; }
.info-trans-sub > h5 { padding: 0px; margin: 0px; }
.box-trans-sub > img { width: 45px; height: 45px; border-radius: 8px; margin-right: 12px; }
.box-trans-sub { display: flex; margin-top: 12px; animation-name: Transction; }
.transction { width: 100%; position: relative; }
.chart-box-main {background:#9776FF; width: 100%;border-radius: 19px;box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 10px 0px;height: 325px;margin-top: 15px;animation-name: Persona ;padding: 1px;}
.value-travel > span { font-size: smaller; }
.value-travel { position: absolute; bottom: 24px; right: 24px; color: white; font-weight: 400; }
.title-travel { position: absolute; left: 21px; font-size: 24px; color: white; font-weight: bold; bottom: 21px; }
.box-travel > .title-element { margin-bottom: 50px; }
.box-chart-travel { position: relative; margin-left: 4px; }
.chart-travel-data { background-color: rgb(89, 95, 247); }
.chart-back-2 { background-color: rgb(247, 193, 89); transform: rotate(14deg); left: 9px; top: -2px; width: 286px !important; height: 263px !important; border-radius: 40px 40px 98px 98px !important; }
.chart-back-1 { background-color: rgb(252, 63, 77); transform: rotate(33deg); left: 12px; top: 4px; width: 286px !important; height: 266px !important; border-radius: 40px 40px 132px 98px !important; }
.chart-travel { border-radius: 40px; width: 280px; height: 280px; position: absolute; animation-name: InfoUser; }
.title-element { color: white; font-weight: 700; }
.Box-elements { margin: 35px 5% 0px; padding-bottom: 55px; }
.chart-box { border-radius: 19px; margin-right: 6%; width: 118%; position: relative; }
.box-element-flex { display: flex; margin-top: 20px; }

.Page { 
  position: absolute; 
  background-color: #180553; 
  height: 90vh; 
  width: 82%; 
  right: 0px; 
  border-radius: 60px 0px 0px 60px; 
  overflow: overlay;
  box-shadow: 0px 0px 10px #9776FF;
 }

.icon-menu { width: 25px; height: 25px; fill: white; margin-right: 16px; animation-name: Icon-Menu; }

li.li-mneu { display: flex; padding: 14px 24px; margin-bottom: 6px; cursor: pointer; position: relative; animation-name: li-Menu; }
div.title-menu { color: white; font-size: 14px; animation-name: Font-Menu; }


/* Barre à droite avec formulaire, déconnecter etc...*/
.Side-bar { background-color: #180553; width: 25%; height: 100%; position: absolute; left: 0px; top: 0px;}

/* Bouton se déconnecter marge */
.logout { margin-top: 50px; }

/* Hover selection*/
.Active-menu { background: linear-gradient(92deg, rgb(89, 95, 247) -229%, transparent 94%); border-left: 4px solid rgb(89, 95, 247); }

/* Text dans la box Formulaire*/
.text_box{
  color: white; 
}
.Box-menu { margin-top: 80px;}




@keyframes li-Menu { 
  0% { left: -165px; }
  100% { left: 0px; }
}

@keyframes Transction { 
  0% { transform: translateX(-600px); }
  100% { transform: translateX(0px); }
}
@keyframes Activities { 
  0% { width: 0%; }
  100% { width: 100%; }
}



/* PERSONA ****************************************************/

.textB {

  color: white;

} 

.interetB,
.ProfilB,
.frustrationsB,
.outilsB {

  margin: 10% 0 5% 0;
}

.boutonB {

  background-color: #DBF227;
  width: var(--sp_xxl);
  font-size: var(--sp_sm);
  padding: 2% 5%;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.persona {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: no-repeat url(/public/Group38.svg);
  background-size: 50vh;
  background-position: bottom center;
  padding: 0 8% 0 8%;
  background-color: var(--dark_blue);
}

.gauche {
  text-align: start;
}

.droite {
  text-align: end;
}


/* FOOTER ***********************************************************/

footer {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 0 var(--sp_sm);
}

footer.Persona{
  background-color: var(--dark_blue);
}

footer>img {
  width: 4vh;
  /* padding: 2%; */
}

.social {
  width: var(--sp_xxl);
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/* RESPONSIVE*********************************************/

@media screen and (max-width: 700px) {

  a > .logo {
    width: 55%;
  }

  nav{
    width: 40%;
    justify-content: flex-end;
  }
  
  a > img {
    width: 70%;
  }
  

  h1 {
    font-size: var(--fs_h2);
  }

  .cta {
    padding: 5% 3%;
  }

  .bonhomme1 {
    /* background-color: #9776FF; */
    width: 100%;
    height: 60vh;
    position: initial;
  }

  .hero {
    height: 120%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    left: 0;
    /* padding: 0 10%; */
  }

  /* body{
    background-color: #180553;
  } */

  .Question {
    height: 60vh;
  }
}