:root{
  /* Couleurs */
  --lilac:#9776FF;
  --fluo_green:#DBF227;
  --light-green:#FCFFE5;
  --blue:#300AA5;
  --dark_blue:#180553;

  /* Typographie */
  --ff: 'Raleway', sans-serif;

  --fs_h1 : 3rem;
  --fs_h2 : 2.25rem;
  --fs_h3 : 1.5rem;

  /* Espacements */
  --sp_xs : 0.625rem; /*  10px */
  --sp_sm : 1.25rem;  /*  20px */
  --sp_md : 2.5rem;   /*  40px */
  --sp_lg : 5rem;     /*  80px */
  --sp_xl : 10rem;    /* 160px */
  --sp_xxl: 15rem;    /* 240px */

  /* Formats responsive*/
  --desktop: 1200px;
  --tablette: 700px;
}

*{
  margin: 0;
  padding: 0;
  font-family: var(--ff);
  }

body{
  background-color: whitesmoke;
  background: no-repeat url(/public/Vector10.svg);
}

main{
  width: 98%;
  margin: auto;
}


/* FONT ***********************************************************/

/* @font-face {
	font-family: 'Raleway';
	src: url(‘/public/Raleway/Raleway-Bold.ttf’) format(‘ttf’),
		url(‘/public/Raleway/Raleway-Regular.ttf’) format(‘ttf’)

} */

/* HEADER ***********************************************************/

header{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--sp_sm);
  
}

.logo{
  width: 15%;
}

/* HERO ************************************************************/

.hero{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15%;
  background: no-repeat url(/public/Group28.svg);
  background-position: 75% 105%;
}

h1{
  font-size: var(--fs_h1);
}

p{
  font-size: var(--sp_sm);
}

h1, p{
  padding-bottom: var(--sp_sm);
}

.cta{
  width: var(--sp_xxl);
  font-size: var(--sp_sm);
  background-color: var(--lilac);
  padding: 2% 5%;
  color: var(--light-green);
  text-decoration: none;
  border-radius: 5px;
}

/* FORMULAIRE ****************************************************/
.formulaire{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 400px;
}

.question{
  height: 80vh;
}

.Titre{
  display: flex;
}
/* section{
  height: 100vh;
} */

input, select {
/* height: 3em; */
border: 1px solid;
border-color: #9776FF;
border-radius: 5px ;
background:rgba(0,0,0,0.0);
}

.age, .ville, .domaine, .activite{
  font-size:larger;
  font-weight: 600;
}

.genre p{
  font-size:larger;
  font-weight: 600;
}

.age, .genre, .ville, .domaine, .activite{
  display: flex;
  flex-direction: column;
}


.suivant{
  width: var(--sp_xxl);
  font-size: var(--sp_sm);
  background-color: var(--lilac);
  padding: 1% 3%;
  color: var(--light-green);
  text-decoration: none;
  border-radius: 5px;
}

/* FORMULAIRE_FINI ****************************************************/

.Formulaire_fini{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15%;
  background: no-repeat url(/public/Group28.svg);
  background-position: 75% 105%;
}

/* FOOTER ***********************************************************/

footer {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 0 var(--sp_sm);
  
}

footer > img{
  width: 4vh;
  /* padding: 2%; */
}

.social{
  width: var(--sp_xxl);
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/* RESPONSIVE****************************************************/

@media screen and (max-width: var(--tablette)) {
  
  .logo{
    width: 35%;
  }

  h1{
    font-size: var(--fs_h2);
  }

  .cta{
    padding: 5% 3%;
  }
}